[Unit]
Description=Alert Manager
Documentation=https://prometheus.io/docs/alerting/latest/alertmanager/
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User={{ prom_owner }}
Group={{ prom_owner_group }}
ExecStart=/var/lib/alertmanager/alertmanager \
  --web.listen-address=:{{ alerter_port }} \
  --config.file=/etc/alertmanager.yml \
  --storage.path=/var/lib/alertmanager/data/

SyslogIdentifier=alertmanager
Restart=always

[Install]
WantedBy=multi-user.target